<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/letstravel.css">
</head>
<body>
    <header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
                <!-- writing / in href means when clicked it must go to home/root page -->
			  	<a class="navbar-brand" href="/">Let's Travel</a>
			  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" 	aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  	</button>

			  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			      <li class="nav-item ">
			        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">About us</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Contact</a>
				  </li>
				  <li class="nav-item active">
			        <a class="nav-link" href="/admin">Admin</a>
            </li>
            <li class="nav-item">
			        <button class="btn btn-outline-secondary log-out-btn">Log Out</button>
				  </li>
			    </ul>
			    <form class="form-inline my-2 my-lg-0">
			      <input class="form-control mr-sm-2" type="search" placeholder="Where you want to go ?">
			      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
			    </form>
			  </div>
			</div>
		</nav>
    </header>
    
    <main>
        <div class="container page-wrapper">
            <h1>Admin Page</h1>
            <hr>
            <div class="row">
                <div class="col-3">
                    <div class="card">
                        <div class="card-block">
                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link active" id="v-pills-articles-tab" data-toggle="pill" href="#v-pills-articles" role="tab" aria-controls="v-pills-articles" aria-selected="true">Articles</a>
                                <a class="nav-link" id="v-pills-mails-tab" data-toggle="pill" href="#v-pills-mails" role="tab" aria-controls="v-pills-mails" aria-selected="false">Mails</a>
                                <a class="nav-link" id="v-pills-callback-tab" data-toggle="pill" href="#v-pills-callback" role="tab" aria-controls="v-pills-callback" aria-selected="false">Callback Requests</a> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="card">
                        <div class="card-block">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-articles" role="tabpanel" aria-labelledby="v-pills-articles-tab">
                                    <button class="btn btn-primary create-post-btn">Add Post</button>
                                    <!-- This W's are to align the article on admin page in proper order -->
                                    <!-- Article-inline is for alternate grey color for article -->
                                    <div class="articles">
                                        <!-- <article class="d-flex justify-content-between align-items-center article-inline">
                                            
                                            <div class="id w5">1</div>
                                            <div class="name w30">Eiffel Tower</div>
                                            <div class="date w30">2021-Nov-11</div>
                                            <div class="country w20">France</div>
                                            <div class="edit w10"><button class="btn btn-link">Edit</button></div>
                                            <div class="remove w5"><button class="btn btn-link">X</button></div>
                                        </article>

                                        
                                        
                                        <article class="d-flex justify-content-between align-items-center article-inline ">
                                            
                                            <div class="id w5">4</div>
                                            <div class="name w30">Sydney Opera House</div>
                                            <div class="date w30">2021-Nov-11</div>
                                            <div class="country w20">Australia</div>
                                            <div class="edit w10"><button class="btn btn-link">Edit</button></div>
                                            <div class="remove w5"><button class="btn btn-link">X</button></div>
                                        </article> -->

                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-mails" role="tabpanel" aria-labelledby="v-pills-mails-tab">Mails Content</div>
                                <div class="tab-pane fade" id="v-pills-callback" role="tabpanel" aria-labelledby="v-pills-callback-tab">Callback Requests Content</div>
                                <div class="tab-pane fade " id="v-pills-create-post" role="tabpanel" aria-labelledby="v-pills-create-post-tab">
                                  <h2>Create Post</h2>
                                  <form class="create-post" >
                                    <div class="form-group">
                                      <label for="create-title">Title</label>
                                      <input type="text" class="form-control" id="create-title" placeholder="Title">
                                    </div>
                                    <div class="form-group">
                                      <label for="create-country">Country</label>
                                      <input type="text" class="form-control" id="create-country" placeholder="Country">
                                    </div>
                                    <div class="form-group">
                                      <label for="create-imageURL">Image</label>
                                      <input type="text" class="form-control" id="create-imageURL" placeholder="URL">
                                    </div>
                                    <p>or</p>
                                    <input type="file" class="form-control form-control-file" id="create-image-file">
                                    <div class="form-group">
                                      <label for="create-text">Text</label>
                                      <textarea class="form-control" id="create-text" rows="5"></textarea>
                                    </div>
                                    <!-- When this button is pressed the create-post.js files run -->
                                    <button class="btn btn-primary">Create Post</button>
                                  </form>
                                </div>
                                <!-- Update posts -->
                                <div class="tab-pane fade " id="v-pills-update-post" role="tabpanel" aria-labelledby="v-pills-update-post-tab">
                                  <h2>Update Post</h2>
                                  <form class="update-post-form" >
                                    <div class="form-group">
                                      <label for="update-title">Title</label>
                                      <input type="text" class="form-control" id="update-title" placeholder="Title">
                                    </div>
                                    <div class="form-group">
                                      <label for="create-imageURL">Image</label>
                                      <input type="text" class="form-control" id="update-imageURL" placeholder="URL">
                                    </div>
                                    <!-- <p>or</p>
                                    <input type="file" class="form-control form-control-file" id="create-image-file"> -->
                                    <div class="form-group">
                                      <label for="update-text">Text</label>
                                      <textarea class="form-control" id="update-text" rows="5"></textarea>
                                    </div>
                                    <!-- When this button is pressed the create-post.js files run -->
                                    <button class="btn btn-primary">Update Post</button>
                                  </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="/js/bootstrap.min.js"></script>
  <!-- posts.js is in js folder of public -->
  <script src="/js/posts.js"></script> 
  <!-- create-post.js files is in admin js folder we connect it bcoz there is eventhandler inside it when create post button is pressed -->
  <script src="/admin/js/create-post.js"></script>
  <script src="/admin/js/delete-post.js"></script>
  
  <!-- main.js is in admin js folder -->
  <script src="/admin/js/update-posts.js"></script>
  <script src="/admin/js/callback-request.js"></script>
  <script src="/admin/js/emails.js"></script>
  <script src="/admin/js/main.js"></script>
</body>
</html>